@import url('https://fonts.googleapis.com/css2?family=Coustard:wght@400;900&display=swap');
@import "tailwindcss";

@theme {
    --font-serif: 'Coustard', Lavigne, ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-serif-heading: 'Coustard', Lavigne, ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

/* 
########################################################################################################################
    NAV BAR
########################################################################################################################
*/

.blue-button-wrapper canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.button-82-pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-82-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
        transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(to left,
            rgb(0, 42, 255) 0%,
            rgb(0, 27, 163) 8%,
            rgb(0, 27, 163) 92%,
            hsl(230 100% 16%) 100%);
}

.button-82-front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: #0028f0;
    will-change: transform;
    transform: translateY(-4px);
    transition:
        transform 600ms cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
    .button-82-front {
        font-size: 1.25rem;
        padding: 12px 42px;
    }
}

.button-82-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
    transform: translateY(-6px);
    transition:
        transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
    transform: translateY(4px);
    transition:
        transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
    outline: none;
}

.nav-text {
    animation: nav-text-bounce 2s infinite;
}

.nav-link:hover {
    animation: nav-link-bounce 1s;
}

@keyframes nav-text-bounce {
    0% {
        scale: 100%;
    }

    50% {
        scale: 110%;
    }

    100% {
        scale: 100%;
    }
}

@keyframes nav-link-bounce {
    from {
        scale: 120%;
    }

    to {
        scale: 100%;
    }
}






/* 
########################################################################################################################
    SPACE SECTION
########################################################################################################################
*/

.earth-planet {
    animation: planet-float 5s infinite;
}

.moon-planet {
    animation: planet-float 7s infinite;
}

.mars-planet {
    animation: planet-float 3s infinite;
}

.saturn-planet {
    animation: planet-float 10s infinite;
}

@keyframes planet-float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-40px);
    }

    100% {
        transform: translateY(0);
    }
}

.space-text {
    background-image: url('/src/img/space/space-text.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    animation: space-text-switcher 8s infinite;
}

@keyframes space-text-switcher {
    0% {
        background-image: url('/src/img/space/space-text.png');
    }

    30% {
        background-image: url('/src/img/space/space-text-off.png');
    }

    40% {
        background-image: url('/src/img/space/space-text.png');
    }

    80% {
        background-image: url('/src/img/space/space-text-off.png');
    }

    82% {
        background-image: url('/src/img/space/space-text.png');
    }

    84% {
        background-image: url('/src/img/space/space-text-off.png');
    }

    86% {
        background-image: url('/src/img/space/space-text.png');
    }

    88% {
        background-image: url('/src/img/space/space-text-off.png');
    }

    90% {
        background-image: url('/src/img/space/space-text.png');
    }
}

.spaceship {
    animation: spaceship-mover 12s infinite;
    animation-timing-function: linear;
}

@keyframes spaceship-mover {
    from {
        transform: translateX(-1200px);
    }

    to {
        transform: translateX(1200px);
    }
}

/*
########################################################################################################################
    KIRBY SECTION
########################################################################################################################
*/

.kirby-running {
    background-image: url('/src/img/kirby/kirby-yoyo.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    animation: kirby-runner 12s infinite;
    animation-timing-function: linear;
}

@keyframes kirby-runner {
    0% {
        background-image: url('/src/img/kirby/kirby-yoyo.gif');
        transform: translateX(-40px);
    }

    20% {
        background-image: url('/src/img/kirby/kirby-sword.gif');
    }

    40% {
        background-image: url('/src/img/kirby/kirby-wing.gif');
    }

    60% {
        background-image: url('/src/img/kirby/kirby-bomb.gif');
    }

    80% {
        background-image: url('/src/img/kirby/kirby-cutter.gif');
    }

    100% {
        transform: translateX(2000px);
    }
}

/*
########################################################################################################################
    LIL DARKIE SECTION
########################################################################################################################
*/

.martian-mono-navtext {
    font-family: "Martian Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/*
########################################################################################################################
    TEXT SLANT
########################################################################################################################
*/

.follow-text {}